<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Название сайта</title>
    <meta name="MobileOptimized" content="375"/>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/modal.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
            integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
            crossorigin="anonymous"></script>

</head>
<body>
<script src="/static/scripts/modal.js"></script>
<div class="button_menu">
    <a href="/">Главная</a>
    <a href="/history">История</a>
    <a href="/manage">Управление</a>
</div>
<div class="wraper">
    <div class="arrowup"></div>
    <div class="arrowdown"></div>
    <div class="window">
        <ul class="list">

        </ul>
        <ul class="list">

        </ul>
    </div>
</div>
<p style="text-align: center">
    <button class="button" id="roulette">Старт</button>
<div class="win">
    <ul>

    </ul>
</div>
<ul class="spisok">
</ul>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src="/static/scripts/main.js"></script>
</body>
</html>
