<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Название сайта</title>
    <meta name="MobileOptimized" content="375"/>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
            integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
            crossorigin="anonymous"></script>
    <script src="/static/scripts/main.js"></script>
</head>
<body>
<div class="button_menu">
    <a href="/">Главная</a>
    <a href="/history">История</a>
    <a href="/manage">Управление</a>
</div>
<div class="telo">
    <h1>Управление</h1>
    <form method="POST">
        <label for="com">Комиссия сервиса: </label><input type="number" id="com" name="com"
                                                          value="{{ com }}"><br/>
        <div class="ac"><input class="button" type="submit" value="Изменить"></div>
    </form>
    <form method="POST">
        {% for i in range(1, 11) %}
        <label for="username{{ i }}">{{ i }}. Ник в TikTok: @</label><input type="text" id="username{{ i }}"
                                                            name="username{{ i }}"><br/>
        <label for="summ{{ i }}">{{ i }}. Сумма взноса: </label><input type="number" id="summ{{ i }}"
                                                       name="summ{{ i }}"><br/><br/>
        {% endfor %}

        <div class="ac"><input class="button" type="submit" value="Добавить"></div>
    </form>
</div>
</body>
</html>